<div class="customDialog">
  <!--Contact Form-->

  <form [formGroup]="editCompanyForm" (ngSubmit)="editCompany()" class="custom-form-field">

    <mat-dialog-title>
      <div class="customHeader z-depth-1 h4-responsive">
        <i class="fa fa-building-o" aria-hidden="true" style="padding-right: 10px"></i>
        <strong>Edit Company</strong>
      </div>
    </mat-dialog-title>


    <mat-dialog-content>

      <div class="row">
        <div class="custom-form-field col">
          <div class="card animated zoomIn">
            <div class="card-header">Company</div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <input placeholder="Company" formControlName="CompanyName" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="custom-form-field col-lg-3 col-md-6">
          <div class="card animated zoomIn">
            <div class="card-header">Is Client</div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="IsClient" formControlName="IsClient">
                      <mat-option *ngFor="let d of isClientOptions" [value]="d.value">
                        {{d.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="custom-form-field col">
          <div class="card animated zoomIn">
            <div class="card-header">
              Other Details
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <input placeholder="Address 1" formControlName="Add1" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="custom-form-field col">
                  <mat-form-field>
                    <input placeholder="Address 2" formControlName="Add2" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="custom-form-field col">
                  <mat-form-field>
                    <input placeholder="Address 3" formControlName="Add3" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="custom-form-field col">
                  <mat-form-field>
                    <input placeholder="City" formControlName="City" matInput>
                  </mat-form-field>
                </div>

                <div class="custom-form-field col-md-6">
                  <mat-form-field>
                    <input placeholder="State" formControlName="State" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="custom-form-field col-md-6">
                  <mat-form-field>
                    <input placeholder="Country" formControlName="Country" matInput>
                  </mat-form-field>
                </div>

                <div class="custom-form-field col-md-6">
                  <mat-form-field>
                    <input type="number" placeholder="Pincode" formControlName="Pincode" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="custom-form-field col-md-6">
                  <mat-form-field>
                    <input type="number" placeholder="Landline" formControlName="LandLineNo" matInput>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="custom-form-field col">
          <div class="card animated zoomIn">
            <div class="card-header">
              Status
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                  <mat-form-field>
                    <mat-select placeholder="Status" formControlName="Status">
                      <mat-option *ngFor="let item of statusList" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">

      <button class="btn indigo waves-light" type="submit" [disabled]="!editCompanyForm.valid" mdbWavesEffect>Save
      </button>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>
    </mat-dialog-actions>

  </form>

</div>
