<div class="customDialog">

  <!--Contact Form-->
  <form [formGroup]="updateTicketTypeForm" (ngSubmit)="updateTicketType()" class="custom-form-field">

    <mat-dialog-title>
      <div class="customHeader h4-responsive">
        <i class="fa fa-ticket" aria-hidden="true" style="padding-right: 10px;"></i>
        <strong>Edit Ticket Type</strong>
      </div>
    </mat-dialog-title>

    <mat-dialog-content>
      <div class="row">
        <div class="custom-form-field col-12">
          <div class="card">
            <div class="card-body">
              <mat-form-field>
              <input matInput placeholder="Type" formControlName="TypeName">
            </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="custom-form-field col-lg-6">
          <div class="card">
            <div class="card-body">
              <mat-form-field>
              <mat-select placeholder="Company" name="CompanyID" formControlName="CompanyID" (selectionChange)="loadProjects()" ngDefaultControl>
                <mat-option *ngFor="let company of companyList" [value]="company.Oid">
                  {{company.CompanyName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        </div>

        <div class="custom-form-field col-lg-6">
          <div class="card">
            <div class="card-body">
              <mat-form-field>
              <mat-select placeholder="Project" name="ProjectID" formControlName="ProjectID" ngDefaultControl>
                <mat-option *ngFor="let item of projectList" [value]="item.Oid">
                  {{item.ProjectName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <mat-form-field>
              <mat-select placeholder="Status" name="Status" formControlName="Status" ngDefaultControl>
                <mat-option *ngFor="let status of status" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">
      <div class="text-right">
        <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!updateTicketTypeForm.valid">
          Save
        </button>
      </div>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>
    </mat-dialog-actions>

  </form>
  <!--Contact Form-->
</div>
