<div class="customDialog">

  <!--Contact Form-->
  <form [formGroup]="updateTicketTypeForm" (ngSubmit)="updateTicketType()" class="md-form">

    <mat-dialog-title>
      <div class="customHeader h4">
        <i class="fa fa-ticket" aria-hidden="true"></i>
        <strong>Edit Ticket Type</strong>
      </div>
    </mat-dialog-title>

    <mat-dialog-content>
      <div class="row">
        <div class="md-form col-12">
          <div class="card">
            <div class="card-header">Type Name</div>
            <div class="card-body">
              <input mdbInputDirective type="text" formControlName="TypeName" class="form-control" mdbActive>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="md-form col-lg-6">
          <div class="card">
            <div class="card-header">Select company</div>
            <div class="card-body">
              <mat-select placeholder="Company" name="CompanyID" formControlName="CompanyID" (selectionChange)="loadProjects()" ngDefaultControl>
                <mat-option *ngFor="let company of companyList" [value]="company.Oid">
                  {{company.CompanyName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <div class="md-form col-lg-6">
          <div class="card">
            <div class="card-header">Select Project</div>
            <div class="card-body">
              <mat-select placeholder="Project" name="ProjectID" formControlName="ProjectID" ngDefaultControl>
                <mat-option *ngFor="let item of projectList" [value]="item.Oid">
                  {{item.ProjectName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">Status</div>
            <div class="card-body">
              <mat-select placeholder="Status" name="Status" formControlName="Status" ngDefaultControl>
                <mat-option *ngFor="let status of status" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">
      <div class="text-right">
        <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!updateTicketTypeForm.valid">
          Save
        </button>
      </div>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>
    </mat-dialog-actions>

  </form>
  <!--Contact Form-->

</div>
