<div class="customDialog">



  <!--Contact Form-->
  <form [formGroup]="editProjectForm" (ngSubmit)="updateProject()" class="md-form">

    <mat-dialog-title>
      <div class="customHeader h4">
        <i class="fa fa-industry" aria-hidden="true"></i>
        <strong>Edit Project</strong>
      </div>

    </mat-dialog-title>

    <mat-dialog-content>

      <div class="row">
        <div class="md-form col">
          <div class="card animated zoomIn">
            <div class="card-header">
              Project Title
            </div>
            <div class="card-body">
              <div class="row">
                <div class="md-form col">
                  <input mdbInputDirective type="text" class="form-control" placeholder="Title" formControlName="ProjectName" mdbActive>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="md-form col-md-6">
          <div class="card animated zoomIn">
            <div class="card-header">Company</div>
            <div class="card-body">
              <mat-select placeholder="Company" name="ProjectCompany" formControlName="ProjectCompany" (selectionChange)="updateDropdown()" ngDefaultControl>
                <mat-option *ngFor="let company of companyList" [value]="company.Oid">
                  {{company.CompanyName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <div class="md-form col-md-6">
          <div class="card animated zoomIn">
            <div class="card-header">Project</div>
            <div class="card-body">
              <mat-select placeholder="Project Leader" name="ProjectLeader" formControlName="ProjectLeader" (selectionChange)="updateDropdown()"
                ngDefaultControl>
                <mat-option *ngFor="let user of usersList" [value]="user.Oid">
                  {{user.UserName}}
                </mat-option>
              </mat-select>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="md-form col-md-6">
          <div class="card animated zoomIn">
            <div class="card-header">Clientside Coordinator</div>
            <div class="card-body">
              <mat-select placeholder="Client Coordinator" name="ClientProjectCoordinator" formControlName="ClientProjectCoordinator" ngDefaultControl>
                <mat-option *ngFor="let user of clientUsersList" [value]="user.Oid">
                  {{user.UserName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>


        <!-- <div class="md-form col-md-2">
              <label for="Status">Status</label>
              <input mdbInputDirective type="text" formControlName="Status"
                class="form-control" mdbActive>
            </div> -->

        <div class="md-form col-md-6">
          <div class="card animated zoomIn">
            <div class="card-header">Status</div>
            <div class="card-body">
              <mat-select placeholder="Status" name="Status" formControlName="Status" ngDefaultControl>
                <mat-option *ngFor="let status of status" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="md-form col-md-12">
          <div class="card animated zoomIn">
            <div class="card-header">
              Description
            </div>
            <div class="card-body">
              <textarea mdbInputDirective type="text" class="md-textarea
            form-control" formControlName="ProjectDescription" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">
      <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!editProjectForm.valid">
        Save
      </button>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>
    </mat-dialog-actions>
  </form>
  <!--Contact Form-->
</div>
