<div class="customDialog">



  <!--Contact Form-->
  <form [formGroup]="editProjectForm" (ngSubmit)="updateProject()" class="custom-form-field">

    <mat-dialog-title>
      <div class="customHeader h4-responsive">
        <i class="fa fa-industry" aria-hidden="true" style="padding-right: 10px"></i>
        <strong>Edit Project</strong>
      </div>

    </mat-dialog-title>

    <mat-dialog-content>

      <div class="row">
        <div class="custom-form-field col">
          <div class="card animated zoomIn">
            <div class="card-body">
              <div class="row">
                <div class="custom-form-field col">
                  <mat-form-field>
                    <input matInput placeholder="Title" formControlName="ProjectName">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="custom-form-field col-md-6">
          <div class="card animated zoomIn">
            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Company" name="ProjectCompany" formControlName="ProjectCompany" (selectionChange)="updateDropdown()">
                  <mat-option *ngFor="let company of companyList" [value]="company.Oid">
                    {{company.CompanyName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="custom-form-field col-md-6">
          <div class="card animated zoomIn">
            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Project Leader" name="ProjectLeader" formControlName="ProjectLeader" (selectionChange)="updateDropdown()">
                  <mat-option *ngFor="let user of usersList" [value]="user.Oid">
                    {{user.UserName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="custom-form-field col-md-6">
          <div class="card animated zoomIn">
            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Client Coordinator" name="ClientProjectCoordinator" formControlName="ClientProjectCoordinator">
                  <mat-option *ngFor="let user of clientUsersList" [value]="user.Oid">
                    {{user.UserName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="custom-form-field col-md-6">
          <div class="card animated zoomIn">
            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Status" name="Status" formControlName="Status">
                  <mat-option *ngFor="let status of status" [value]="status.value">
                    {{status.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="custom-form-field col-md-12">
          <div class="card animated zoomIn">
            <div class="card-body">
              <mat-form-field>
                <textarea matInput formControlName="ProjectDescription" rows="3"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">
      <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!editProjectForm.valid">
        Save
      </button>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>
    </mat-dialog-actions>
  </form>
  <!--Contact Form-->
</div>
