<div class="pt-5 mx-auto animated zoomIn">
  <div class="container-fluid" *ngIf="userRole!=='Administrator'">

    <div class="row justify-content-center" style="padding-top: 35px">
      <div class="col" *ngFor="let item of data; let id= index;" style="padding-top: 10px; ">
        <div class="card hoverable" style="margin-bottom: 10px;
          background-color: rgb(255, 255, 255); cursor: pointer;" (click)="updateTicketLogTypeSelector(id)" >
          <div class="card-body text-center">
            <h2 style="color: rgb(3, 0, 34)">
              <strong>{{item.Count}}</strong>
            </h2>
          </div>
          <div class="card-footer text-center btn" [ngClass]="{
            'badge-default':item.TicketStatus==='Open' ,
            'badge-primary':item.TicketStatus==='WIP',
            'badge-warning':item.TicketStatus==='Hold',
            'badge-success':item.TicketStatus==='Close',
            'badge-grey':item.TicketStatus==='Cancel'
            }">
            <strong>{{item.TicketStatus}}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
        <div class="md-form form-sm">
          <input mdbInputDirective type='text' placeholder='Type to filter tickets...' (keyup)='updateFilter()' [(ngModel)]="val" data-success=''
            data-error='' class="form-control" style="border-bottom: 1px solid rgb(131, 131, 131)"/>
        </div>
        <mat-form-field>
            <mat-select placeholder="Searching In" name="SearchHere" (selectionChange)="updateFilter()"
              [(ngModel)]="searchIn" ngDefaultControl>
  
              <mat-option value="Multiple">Multiple</mat-option>
              <mat-option value="TicketNo">TicketNo</mat-option>
              <mat-option value="Subject">Subject</mat-option>
              <mat-option value="TicketDescription">Description</mat-option>
              <mat-option value="TeamName">Team</mat-option>
              <mat-option value="ProjectName">Project</mat-option>
              <mat-option value="CompanyName">Company</mat-option>
              <mat-option value="Priority">Priority</mat-option>
              <mat-option value="AssignByName">Assign By</mat-option>
              <mat-option value="AssignToName">Assign To</mat-option>
              <mat-option value="CancelByName">Cancel By</mat-option>
              <mat-option value="CloseByName">Close By</mat-option>
              <mat-option value="CreatedByName">Craeted By</mat-option>
              <mat-option value="HoldByName">Hold By</mat-option>
              <mat-option value="WIPByName">WIP By</mat-option>
  
            </mat-select>
          </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sorting On" name="SortHere" (selectionChange)="updateFilter()"
            [(ngModel)]="valSort" ngDefaultControl>

            <mat-option value="">None</mat-option>

            <mat-option value="TicketNo">TicketNo</mat-option>

            <mat-option value="Priority">Priority</mat-option>

            <mat-option value="Subject">Subject</mat-option>

            <mat-option value="TicketDescription">Description</mat-option>

            <mat-option value="CreatedDate">Creation Date</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Sort Type" name="SortType" (selectionChange)="updateFilter()"
            [(ngModel)]="ascSort" ngDefaultControl>

            <mat-option value=true>Ascending</mat-option>

            <mat-option value=false>Descending</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field>

          <mat-select placeholder="Allocation" name="SortType" (selectionChange)="updateFilter()"
            [(ngModel)]="allocationType" ngDefaultControl>

            <mat-option value="Team">Team</mat-option>

            <mat-option value="OnlyMe">My Tickets Only</mat-option>

            <mat-option value="ExceptMe">Team but Except Me</mat-option>

          </mat-select>
        </mat-form-field>
    </div>


    <!-- </div> -->

    <div class="row justify-content-center">
      <div class="col">
        <div class="mx-auto">
          <div class="container-fluid" *ngFor="let src of source; let i=
            index;">

            <div class="row" *ngIf="this.ticketLogTypeSelector===src.status">
              <div class="col">

                <div>

                  <div class="card-header" [ngClass]="{
                    'badge-default':src.status==='Open',
                    'badge-primary':src.status==='WIP',
                    'badge-warning':src.status==='Hold',
                    'badge-success':src.status==='Close',
                    'badge-grey':src.status==='Cancel'
                    }" style="border-radius: 5px">
                    <strong>{{src.status}}</strong>
                  </div>

                  <div class="card hoverable">
                    <div id="cardPanel">
                      <div class="row ticketBody" *ngIf="src.data.length==0">No data found</div>
                      <div class="card-body hoverable" *ngFor="let data of
                        src.data; let p= index;" id="ticket" [ngClass]="{'high':data.Priority==='High',
                        'low':data.Priority==='Low',
                        'med':data.Priority==='Medium'}">

                        <div class="row ticketBody" aria-expanded="true">
                          <div class="col-2">
                            <a (click)="test.toggle()">
                              <strong>#{{data.TicketNo}}</strong>
                            </a>
                          </div>
                          <div class="col-10">

                            <div class="row">
                              <div class="col" (click)="test.toggle()" style="display: flex;flex-direction: row; justify-content: space-between; align-items: center">
                                <strong>{{data.Subject}}</strong>
                                <span *ngIf="data.Priority!==''" class="badge" [ngClass]="{'badge-danger':data.Priority==='High',
                            'badge-primary':data.Priority==='Medium',
                            'badge-default':data.Priority==='Low'}" style="width:75px;">{{data.Priority}}</span>
                              </div>
                            </div>
                            <hr>
                            <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between">
                              <div (click)="test.toggle()" style="display: flex; flex-direction: row; justify-content: flex-start">
                                <div class="card-text" style="padding-left: 15px ;display: flex; flex-direction: row; flex-wrap: wrap">
                                  <div class="text-center" style="padding: 10px;  margin-top: 5px; border-bottom: 1px solid rgba(255, 255, 255, 0); margin-right: 10px; display: flex; align-items: center; border-radius: 5px; background-color: beige">
                                    <time>
                                      <strong>{{ data.CreatedDate | timeAgo}}</strong>
                                    </time>
                                  </div>
                                  <div class="text-center" style="padding: 10px; margin-top: 5px; border: 1px solid rgba(255, 255, 255, 0); margin-right: 10px; display: flex; align-items: center; border-radius: 5px; background-color: beige">
                                    <strong> {{data.TeamName | titlecase}} </strong>
                                  </div>
                                  <div *ngIf="data.AssignToName !== ''" class="list-group-item text-center" style="padding: 10px; margin-top: 5px;border-radius: 5px; border-color: blue; color: darkblue; display: flex; align-items: center">
                                    <strong>{{ data.AssignToName | titlecase}}</strong>
                                  </div>
                                </div>
                              </div>

                              <div style="display: flex; flex-direction: row; justify-content: flex-end; flex-wrap: wrap; padding-right: 10px;">

                                <button class="btn btn-sm btn-outline-grey
                                      waves-light" *ngIf="src.status=== 'Open'
                                      || src.status=== 'WIP' || src.status===
                                      'Hold' || src.status===
                                      'Close' || src.status===
                                      'Cancel'" (click)="openTicketMessage(i,p)">
                                  <i class="fa fa-comment"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-info" *ngIf="src.status=== 'Open' && 
                                      dashboardState==='mytickets'" (click)="processTicket(data.Oid,2)">
                                  <strong>Take Ticket
                                  </strong>
                                </button>

                                <button class="btn btn-sm btn-outline-info" *ngIf="((src.status=== 'Hold' || src.status==='Close') && userRole==='Manager') || (src.status==='Hold' &&  userRole==='User' && dashboardState==='mytickets') || ((src.status=== 'Hold' || src.status==='Close') && userRole==='User' && dashboardState==='mytickets' && Oid===data.TeamLeader.toString())"
                                  (click)="processTicket(data.Oid,1)">
                                  <strong>Re-open</strong>
                                </button>

                                <button class="btn btn-sm
                                      btn-outline-warning" *ngIf="(src.status==='Open' || src.status==='WIP') && (userRole==='Manager'
                                      || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()))"
                                  (click)="processTicket(data.Oid,3)">
                                  <strong>Hold</strong>
                                </button>

                                <button class="btn btn-sm
                                      btn-outline-success" *ngIf="(userRole==='Manager' || (src.status==='WIP' && (dashboardState==='mytickets' && userRole==='User'))) && src.status!=='Close' && src.status!=='Cancel'"
                                  (click)="processTicket(data.Oid,4)">
                                  <strong>Close</strong>
                                </button>

                                <button class="btn btn-sm
                                      btn-outline-danger" *ngIf="userRole==='Manager' || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()) && (src.TicketStatus==='Open' || src.TicketStatus==='WIP' || src.TicketStatus==='Hold')"
                                  (click)="processTicket(data.Oid,5)">
                                  <strong>Cancel</strong>
                                </button>

                              </div>
                            </div>
                            <div class="row">

                            </div>

                          </div>
                        </div>
                        <div class="row" style="margin-top: 10px" (click)="test.toggle()">
                          <div class="col-2"></div>
                          <div class="col-10">
                            <div class="row card-text" class="card-text text-center" style="padding: 10px; border-bottom: 1px solid rgb(244, 244, 244); align-items: center; border-radius: 5px; display: flex; flex-direction: row; justify-content: space-between; background-color: rgb(212, 253, 244)">
                              <div class="col text-left" style="padding: 0px">
                                <strong>{{data.Message.OperationByName | titlecase}}: {{data.Message.MessageLog}} </strong>
                              </div>
                              <div class="col text-right" style="padding: 0px">
                                <time> {{data.Message.OperationDate | timeAgo }} </time>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="content" [mdbCollapse]="isCollapsed" #test="bs-collapse" mdbWavesEffect>
                              <hr>
                              <div class="list-group">
                                <a class="list-group-item waves-light" mdbWavesEffect>
                                  <strong>Detail</strong>
                                </a>
                                <a class="list-group-item
                                      list-group-item-action waves-light" mdbWavesEffect>
                                  <div>
                                    {{data.TicketDescription}}
                                  </div>
                                </a>
                              </div>
                              <br>
                              <div class="row" style="align-items:
                                    flex-start">

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.CreatedDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Create</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.CreatedDate | date }} at {{data.CreatedDate | date: 'shortTime'}}
                                        <strong>
                                          <br>By: </strong>{{data.CreatedByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.AssignDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Assign</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.AssignDate | date }} at {{data.AssignDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.AssignByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.WIPDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>WIP</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.WIPDate | date}} at {{data.WIPDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.WIPByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.HoldDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Hold</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.HoldDate | date}} at {{data.HoldDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.HoldByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.CloseDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Close</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.CloseDate | date}} at {{data.CloseDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.CloseByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.CancelDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Cancel</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.CancelDate | date}} at {{data.CancelDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.CancelByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 mx-auto animated zoomIn" *ngIf="userRole==='Administrator'">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <h1 class="h3-responsive">
                <i class="fa fa-cog"></i>&nbsp;Welcome to Admin Panel, {{userName | titlecase}}
              </h1>
              <hr>

              <div class="card-text">

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div class="dropdown-item waves-light" [routerLink]="['company']" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-building" aria-hidden="true"></i>
                          Company</a>
                      </div>
                    </div>

                  </div>

                  <div class="col">

                    <div [routerLink]="['project']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-industry" aria-hidden="true"></i>
                          Project</a>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div [routerLink]="['user']" class="dropdown-item
                          waves-light" mdbWavesEffec>
                      <div class="card-body">
                        <a routerLinkActive="animated">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                          User</a>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div [routerLink]="['team']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-cubes" aria-hidden="true"></i>
                          Team</a>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row" style="margin-bottom: 25px;">
                  <div class="col">
                    <div [routerLink]="['ticket-type']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-ticket" aria-hidden="true"></i>
                          Ticket Type</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider dropdown-divider"></div>

            <div class="" [routerLink]="['create-ticket']" class="dropdown-item
                  waves-light" routerLinkActive="animated" mdbWavesEffect>
              <div class="card-body">
                <a>
                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Ticket
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
