<div class="pt-5 mx-auto animated zoomIn">
  <div class="container-fluid" *ngIf="userRole!=='Administrator'">

    <div class="row justify-content-center" style="padding-top: 35px">
      <div class="col" *ngFor="let item of data; let id= index;" style="padding-top: 10px; ">
        <div class="card hoverable" style="margin-bottom: 10px;
          background-color: rgb(255, 255, 255); cursor: pointer;" (click)="updateTicketLogTypeSelector(id)" [ngClass]="{
            'bottomEffect':(ticketLogTypeSelector==='Open'&&item.TicketStatus==='Open'),
            'bottomEffect':(ticketLogTypeSelector==='WIP'&&item.TicketStatus==='WIP'),
            'bottomEffect':(ticketLogTypeSelector==='Hold'&&item.TicketStatus==='Hold'),
            'bottomEffect':(ticketLogTypeSelector==='Close'&&item.TicketStatus==='Close'),
            'bottomEffect':(ticketLogTypeSelector==='Cancel'&&item.TicketStatus==='Cancel')
            }">
          <div class="card-body text-center">
            <h2 style="color: rgb(3, 0, 34)">
              <strong>{{item.Count}}</strong>
            </h2>
          </div>
          <div class="card-footer text-center btn" [ngClass]="{
            'badge-default':item.TicketStatus==='Open' ,
            'badge-primary':item.TicketStatus==='WIP',
            'badge-warning':item.TicketStatus==='Hold',
            'badge-success':item.TicketStatus==='Close',
            'badge-grey':item.TicketStatus==='Cancel'
            }">
            <strong>{{item.TicketStatus}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="padding-bottom: 10px;">
      <div class="col-4">
        <input mdbInputDirective type='text' placeholder='Type to filter tickets...' (keyup)='updateFilter()' [(ngModel)]="val" />
      </div>
      <div class="col-4">
        <mat-select style="border-bottom: 1px solid lightgray" placeholder="Sort here" name="SortHere" (selectionChange)="updateFilter()"
          [(ngModel)]="valSort" ngDefaultControl>

          <mat-option value="">--</mat-option>

          <mat-option value="TicketNo">TicketNo</mat-option>

          <mat-option value="Priority">Priority</mat-option>

          <mat-option value="Subject">Subject</mat-option>

          <mat-option value="TicketDescription">Description</mat-option>

          <mat-option value="CreatedDate">Creation Date</mat-option>

        </mat-select>

      </div>
      <div class="col-2">
        <mat-select style="border-bottom: 1px solid lightgray" placeholder="Type" name="SortType" (selectionChange)="updateFilter()" [(ngModel)]="ascSort"
          ngDefaultControl>

          <mat-option value=true>Asc</mat-option>

          <mat-option value=false>Desc</mat-option>

        </mat-select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="mx-auto">
          <div class="container-fluid" *ngFor="let src of source; let i=
            index;">

            <div class="row" *ngIf="this.ticketLogTypeSelector===src.status">
              <div class="col">

                <div>

                  <div class="card-header" [ngClass]="{
                    'badge-default':src.status==='Open',
                    'badge-primary':src.status==='WIP',
                    'badge-warning':src.status==='Hold',
                    'badge-success':src.status==='Close',
                    'badge-grey':src.status==='Cancel'
                    }" style="border-radius: 5px">
                    <strong>{{src.status}}</strong>
                  </div>

                  <div class="card hoverable">
                    <div id="cardPanel">
                      <div class="row ticketBody" *ngIf="src.data.length==0">No data found</div>
                      <div class="card-body hoverable" *ngFor="let data of
                        src.data; let p= index;" id="ticket" [ngClass]="{'high':data.Priority==='High',
                        'low':data.Priority==='Low',
                        'med':data.Priority==='Medium'}">

                        <div class="row ticketBody" aria-expanded="true">
                          <span class="badge" [ngClass]="{'badge-danger':data.Priority==='High',
                            'badge-primary':data.Priority==='Medium',
                            'badge-default':data.Priority==='Low'}" style="position: absolute; top: 0; right: 0; width:
                            75px;">{{data.Priority}}</span>
                          <div class="col-2">
                            <a (click)="test.toggle()">
                              <strong>#{{data.TicketNo}}</strong>
                            </a>
                          </div>
                          <div class="col-10">

                            <div>
                              <div (click)="test.toggle()">

                                <strong>{{data.Subject}}</strong>
                                <br/>
                                <div class="card-text">
                                  <strong>Team: </strong>{{data.TeamName | titlecase}}
                                  <br/>
                                  <strong>Time Spent: </strong>
                                  <time>{{ data.CreatedDate | timeAgo}}</time>
                                </div>
                              </div>

                              <div style="float: right">

                                <button class="btn btn-sm btn-outline-grey
                                      waves-light" *ngIf="src.status=== 'Open'
                                      || src.status=== 'WIP' || src.status===
                                      'Hold' || src.status===
                                      'Close' || src.status===
                                      'Cancel'" (click)="openTicketMessage(i,p)">
                                  <i class="fa fa-comment"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-info" *ngIf="src.status=== 'Open' && 
                                      dashboardState==='mytickets'" (click)="processTicket(data.Oid,2)">
                                  <strong>Take Ticket
                                  </strong>
                                </button>

                                <button class="btn btn-sm btn-outline-info" *ngIf="((src.status=== 'Hold' || src.status==='Close') && userRole==='Manager') || (src.status==='Hold' &&  userRole==='User' && dashboardState==='mytickets') || ((src.status=== 'Hold' || src.status==='Close') && userRole==='User' && dashboardState==='mytickets' && Oid===data.TeamLeader.toString())"
                                  (click)="processTicket(data.Oid,1)">
                                  <strong>Re-open</strong>
                                </button>

                                <button class="btn btn-sm
                                      btn-outline-warning" *ngIf="(src.status==='Open' || src.status==='WIP') && (userRole==='Manager'
                                      || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()))"
                                  (click)="processTicket(data.Oid,3)">
                                  <strong>Hold</strong>
                                </button>

                                <button class="btn btn-sm
                                      btn-outline-success" *ngIf="userRole==='Manager' || (src.status==='WIP' && (dashboardState==='mytickets' && userRole==='User'))"
                                  (click)="processTicket(data.Oid,4)">
                                  <strong>Close</strong>
                                </button>

                                <button class="btn btn-sm
                                      btn-outline-danger" *ngIf="userRole==='Manager' || (dashboardState==='mytickets' && userRole==='User' && Oid===data.TeamLeader.toString()) && (src.TicketStatus==='Open' || src.TicketStatus==='WIP' || src.TicketStatus==='Hold')"
                                  (click)="processTicket(data.Oid,5)">
                                  <strong>Cancel</strong>
                                </button>

                              </div>
                            </div>


                          </div>
                        </div>

                        <div class="row">
                          <div class="col">
                            <div class="content" [mdbCollapse]="isCollapsed" #test="bs-collapse" mdbWavesEffect>
                              <hr>
                              <div class="list-group">
                                <a class="list-group-item waves-light" mdbWavesEffect>
                                  <strong>Detail</strong>
                                </a>
                                <a class="list-group-item
                                      list-group-item-action waves-light" mdbWavesEffect>
                                  <div>
                                    {{data.TicketDescription}}
                                  </div>
                                </a>
                              </div>
                              <br>
                              <div class="row" style="align-items:
                                    flex-start">

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.CreatedDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Create</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.CreatedDate | date }} at {{data.CreatedDate | date: 'shortTime'}}
                                        <strong>
                                          <br>By: </strong>{{data.CreatedByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.AssignDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Assign</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.AssignDate | date }} at {{data.AssignDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.AssignByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.WIPDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>WIP</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.WIPDate | date}} at {{data.WIPDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.WIPByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.HoldDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Hold</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.HoldDate | date}} at {{data.HoldDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.HoldByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.CloseDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Close</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.CloseDate | date}} at {{data.CloseDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.CloseByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="data.CancelDate!==null">
                                  <div class="list-group">
                                    <a class="list-group-item waves-light" mdbWavesEffect>
                                      <strong>Cancel</strong>
                                    </a>
                                    <a class="list-group-item
                                          list-group-item-action waves-light" mdbWavesEffect>
                                      <div>
                                        <strong>On: </strong>
                                        {{data.CancelDate | date}} at {{data.CancelDate | date: 'shortTime'}}
                                        <strong>
                                          <br> By: </strong>{{data.CancelByName | titlecase}}
                                      </div>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="pt-5 mx-auto animated zoomIn" *ngIf="userRole==='Administrator'">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <h1 class="h3-responsive">
                <i class="fa fa-cog"></i>&nbsp;Welcome to Admin Panel, {{userName | titlecase}}
              </h1>
              <hr>

              <div class="card-text">

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div class="dropdown-item waves-light" [routerLink]="['company']" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-building" aria-hidden="true"></i>
                          Company</a>
                      </div>
                    </div>

                  </div>

                  <div class="col">

                    <div [routerLink]="['project']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-industry" aria-hidden="true"></i>
                          Project</a>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row" style="margin-bottom: 15px;">
                  <div class="col">

                    <div [routerLink]="['user']" class="dropdown-item
                          waves-light" mdbWavesEffec>
                      <div class="card-body">
                        <a routerLinkActive="animated">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                          User</a>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div [routerLink]="['team']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-cubes" aria-hidden="true"></i>
                          Team</a>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row" style="margin-bottom: 25px;">
                  <div class="col">
                    <div [routerLink]="['ticket-type']" class="dropdown-item
                          waves-light" routerLinkActive="animated" mdbWavesEffect>
                      <div class="card-body">
                        <a>
                          <i class="fa fa-ticket" aria-hidden="true"></i>
                          Ticket Type</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider dropdown-divider"></div>

            <div class="" [routerLink]="['create-ticket']" class="dropdown-item
                  waves-light" routerLinkActive="animated" mdbWavesEffect>
              <div class="card-body">
                <a>
                  <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create Ticket
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
