<div class="container-fluid mt-5 pt-5">

  <div class="row d-flex justify-content-center">

    <div class="col-lg-7 col-md-5 col-sm-6 col-xs-12 animated pulse" style="align-items:
      center;">

      <div class="jumbotron sideNote text-center">

        <h1 class="h2-responsive blue-grey-text">

          <img class="img-fluid animated pulse" src="assets/images/rsupport.png" alt="Card
            image cap" style="max-height: 300px">
          <br>
          <strong style="font-weight: bold; color: rgb(227, 30, 36); border-bottom: 2px solid rgb(43,42,41)">Welcome to R-Support!</strong>
        </h1>
        <!-- <iframe  height="100%" width="100%" [src]="url"></iframe> -->
      </div>

    </div>

    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 animated zoomInRight">

      <div class="hoverable card loginBox">

        <img class="img-fluid z-depth-1" src="assets/images/login.jpg" alt="Card
          image cap">

        <div class="card-body effect8 hoverable">

          <h4 class="card-title blue-grey-text">
            <strong>Login</strong>
          </h4>

          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="card-text">

            <mat-form-field style="width: 100%" >
              <input matInput formControlName="UserName" placeholder="Username" value="" autofocus="true" autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%" >
              <input matInput='password' type="password" formControlName="Password" placeholder="Password" value="">
            </mat-form-field>

            <div class="text-right">

              <button class="btn btn-sm btn-primary waves-light" type="submit" [disabled]="!loginForm.valid" mdbWavesEffect>Login</button>
                     
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
