<div class="container-fluid mt-5 pt-5 b-5 animated zoomIn">



  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row " *ngIf="userRole==='Manager'">
      <div class="col-11 toolBox">
        <a (click)="exportExcel()">
          <i class="fa fa-download toolBox" aria-hidden="true"></i> Download</a>
      </div>
    </div>
    <div class="row toolBar">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-5">
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <div class="custom-form-field">
                  <mat-form-field>
                    <input matInput placeholder='Search here' (keyup)='updateFilter()' [(ngModel)]="val" />
                  </mat-form-field>
                </div>
          </div>
          <!-- <div class="col">
                <i class="material-icons" (click)="onClear()">clear</i>
              </div> -->
        </div>
      </div>
      <div class="col text-right">

        <button *ngIf="userRole!=='User'" class="btn btn-primary" [routerLink]="'./create-project'" type="button" mdbWavesEffect>
          <a type="button" class="fa fa-plus"></a>
        </button>
        <div class="btn-group">
          <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="Desktop" mdbWavesEffect [disabled]="'true'">
            <i class="fa fa-desktop" aria-hidden="true"></i>
          </label>
          <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="List" mdbWavesEffect>
            <i class="fa fa-list-alt" aria-hidden="true"></i>
          </label>
        </div>

      </div>
    </div>

  </div>

  <!-- Desktop View Start-->
  <div class="animated zoomIn" *ngIf="radioModel=='Desktop'">
    <div class="row gridBox">

      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6" *ngFor="let row of
              rows">

        <!-- Card -->
        <div class="card hoverable" data-toggle="modal" data-target="#basicExample">

          <!-- Card image
                  <div class="view overlay">
                  <img class="card-img-top"
                      src="https://mdbootstrap.com/img/Photos/Others/food.jpg"
                      alt="Card image cap">
                  <a>
                      <div class="mask rgba-white-slight"></div>
                  </a>
              </div> -->
          <!-- Title -->
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                <i class="fa fa-industry" aria-hidden="true" style="color: darkblue;"></i>&nbsp; {{row.ProjectName}}
              </div>
              <div class="col-4 text-right">
                <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editRow(row)" *ngIf="userRole==='Manager'  || userRole==='Administrator'"></i>&nbsp;
                <i class="fa fa-bars" aria-hidden="true" (click)="getDataForModal(row);fluid.show()" *ngIf="userRole==='Manager' || userRole==='Administrator'"></i>
              </div>
            </div>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <div class="card-title">
              <div class="row">
                <div class="col">
                  {{row.CompanyName | titlecase}}
                </div>
              </div>
            </div>
            <!-- Text -->
            <div class="card-text clearfix">
              <div class="row">
                <div class="col-6">
                  Description
                </div>
                <div class="col-6">{{row.ProjectDescription | titlecase}}</div>
              </div>
              <div class="row">
                <div class="col-6">
                  Leader
                </div>
                <div class="col-6">{{row.ProjectLeaderName | titlecase}}</div>
              </div>
              <div class="row">
                <div class="col-6">
                  Client co-ordinator
                </div>
                <div class="col-6">
                  {{row.ClientProjectCoordinatorName | titlecase}}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  Status
                </div>
                <div class="col-6">
                  <span class="badge badge-pill" [ngClass]="{ 'badge-success': row.Status==='A' , 'badge-danger': row.Status==='C'
                  }">{{row.Status}}</span>
                </div>
              </div>
            </div>

          </div>

          <!-- Card footer -->
          <div class="btn-gradient rounded-bottom mdb-color lighten-3
                  text-center pt-3">
            <ul class="list-unstyled list-inline font-small" *ngIf="userRole==='Manager'">
              <li class="list-inline-item pr-2">
                <a class="white-text" mdbTooltip="Open Tickets" placement="top">
                  <i class="fa fa-inbox" aria-hidden="true"></i>
                  {{row.Open}}</a>
              </li>
              <li class="list-inline-item pr-2">
                <a class="white-text" mdbTooltip="WIP Tickets" placement="top">
                  <i class="fa fa-envelope-open" aria-hidden="true"></i>
                  {{row.WIP}}</a>
              </li>
              <li class="list-inline-item">
                <a class="white-text" mdbTooltip="Close Tickets" placement="top">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  <strong> {{row.Close}}</strong>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Card -->

      </div>

    </div>
  </div>
  <!-- Desktop View End -->

  <!-- List View Start -->
  <div class="" *ngIf="radioModel=='List'">
    <div class="card z-depth-5 hoverable" style="margin: 10px !important">
      <ngx-datatable #table class="material" style="border-radius: 5px; border: 1px
              solid grey" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [reorderable]="'true'" [limit]="7" [scrollbarH]="true" [displayCheck]="displayCheck" (activate)="onActivate($event)"
        [loadingIndicator]="loadingIndicator" (select)='onSelect($event)'>

        <ngx-datatable-column name="ProjectName" prop="ProjectName"></ngx-datatable-column>

        <ngx-datatable-column name="CompanyName" prop="CompanyName"></ngx-datatable-column>

        <ngx-datatable-column name="ProjectLeaderName" prop="ProjectLeaderName"></ngx-datatable-column>

        <ngx-datatable-column name="ProjectDescription" prop="ProjectDescription">
        </ngx-datatable-column>

        <ngx-datatable-column name="ClientProjectCoordinatorName" prop="ClientProjectCoordinatorName"></ngx-datatable-column>

        <ngx-datatable-column name="Status" prop="Status"></ngx-datatable-column>

        <ngx-datatable-column name="" [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
          *ngIf="userRole==='Manager' || userRole==='Administrator'">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

            <a class="fa fa-pencil" (click)="editRow(row)"></a>&nbsp;

          </ng-template>

        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
  <!-- List View End -->


  <footer class="py-3 text-center">
    Found {{ updatedLength }} of {{ initialLength }} results
  </footer>

</div>

<!-- Modal-->
<div mdbModal #fluid="mdb-modal" class="modal fade right " id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header card-header">
        <h4 class="modal-title w-100" id="myModalLabel">{{selected.ProjectName}} ({{selected.ProjectID}})</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluid.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" *ngIf="userRole==='Manager'">
          <div style="display: block">
            <canvas mdbChart [chartType]="chartType" [data]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
              [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <blockquote class="blockquote">
          {{selected.ProjectDescription}}
        </blockquote>

        <ul class="list-group z-depth-0">
          <li class="list-group-item justify-content-between">
            <div class="row">
              <div class="col-6">
                <strong>Leader</strong>
              </div>
              <div class="col-6">{{selected.ProjectLeaderName | titlecase}}</div>
            </div>
          </li>
          <li class="list-group-item justify-content-between">
            <div class="row">
              <div class="col-6">
                <strong>Client Co-ordinator</strong>
              </div>
              <div class="col-6">{{selected.ClientProjectCoordinatorName | titlecase}}</div>
            </div>
          </li>
          <li class="list-group-item justify-content-between">
            <div class="row">
              <div class="col-6">
                <strong>Status</strong>
              </div>
              <div class="col-6">
                <span class="badge badge-pill" [ngClass]="{ 'badge-success': selected.Status==='A' , 'badge-danger': selected.Status==='C'
              }">{{selected.Status}}</span>
              </div>
            </div>
          </li>
        </ul>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary waves-light" data-dismiss="modal" (click)="editRow(selected);fluid.hide()" mdbWavesEffect>Edit</button>
        <button type="button" class="btn btn-danger waves-light" data-dismiss="modal" (click)="fluid.hide()" mdbWavesEffect>Close</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-->
