<mat-dialog-title>
  <header class="top-bar">
    <div class="left">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <h1 style="margin: 0px 0px 0px 10px">Ticket
        <strong>#{{ticketNo}}</strong>
      </h1>
    </div>
    <div class="right">
      <a type="button" class="close" aria-label="Close" (click)="onNoClick()" [mat-dialog-close]="true">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
  </header>
  <div style="margin-left: 5px; margin-right: 5px; padding: 0px; margin: 0px; background-color: white">
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()">
      <div class="md-form form-sm" style="padding: 0px; margin: 0px;display: flex; flex-direction: row">
        <input mdbInputDirective class="form-control" type='text' style="display: inline;" formControlName="chatmessage" placeholder='Type to filter in columns...' />
        <button [disabled]="!chatForm.valid" class="btn btn-sm btn-primary" type="submit" style="display: inline">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</mat-dialog-title>
<mat-dialog-content>
  <div class="scroll2" style="padding: 10px !important" scroll-glue>
    <ol class="discussion">
      <li *ngFor="let mes of message;" [ngClass]="{'self': mes.check == 'other', 'other': mes.check == 'self'}">
        <div class="avatar">
          <!--<img src="../../assets/images/google.png" />-->
          <div id="container" [ngClass]="{'s': mes.check == 'other', 'l': mes.check == 'self'}">
            <div id="name">
              {{mes.UserLetter | titlecase}}
            </div>
          </div>
        </div>
        <div class="messages">
          <p>{{mes.MessageLog}}</p>
          <div class="messageFooter">
            {{mes.UserName | titlecase}} •
            <time>{{ mes.OperationDate | timeAgo}}</time>
          </div>
        </div>
      </li>
    </ol>

  </div>
  <mat-dialog-content>

    <!-- end chat-message -->
