<div class="customDialog">

  <!--Contact Form-->
  <form [formGroup]="updateTeamForm" (ngSubmit)="updateTeam()" class="md-form">

    <mat-dialog-title>
      <div class="customHeader h4">
        <i class="fa fa-group" aria-hidden="true"></i>
        <strong>Edit Team</strong>
      </div>
    </mat-dialog-title>

    <!-- Team name -->
    <mat-dialog-content>

      <div class="row">
        <div class="md-form col">
          <div class="card animated zoomIn">
            <div class="card-header">
              Team Name
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <label for="TeamName">Name</label>
                  <input mdbInputDirective type="text" formControlName="TeamName" class="form-control" mdbActive>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="md-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card animated zoomIn">
            <div class="card-header">
              Please select Company
            </div>
            <div class="card-body">
              <mat-select placeholder="Company" 
                          name="Company" 
                          (selectionChange)="loadProjects()" 
                          formControlName="CompanyID" ngDefaultControl>
                <mat-option *ngFor="let item of companyList" [value]="item.Oid">
                  {{item.CompanyName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <!-- Project Selection -->
        <div class="md-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card animated zoomIn">
            <div class="card-header">
              Please select Project
            </div>
            <div class="card-body">
              <mat-select placeholder="Project" 
                          name="Project" 
                          formControlName="ProjectID" 
                          (selectionChange)="loadUsers()" ngDefaultControl>
                <mat-option *ngFor="let item of projectList" [value]="item.Oid">
                  {{item.ProjectName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>

      <!-- Users List multiple -->
      <div class="row">
        <div class="md-form col">
          <div class="card animated zoomIn">
            <div class="card-header">
              Please select team members
            </div>
            <div class="card-body">
              <mat-select placeholder="Users" 
                          name="Users" 
                          formControlName="Users" 
                          [hidden]="updateTeamForm.get('ProjectID').value== null"
                          [(ngModel)]="selectedUsers" 
                          [compareWith]="compareFnForSelectedUser" 
                          (selectionChange)="onUserSelected()" multiple ngDefaultControl>
                <mat-option *ngFor="let item of userList" [value]="{Oid:
                      item.Oid, UserName: item.UserName, UserRole: ''}">
                  {{item.UserName}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>

      <!-- Assign User Role -->
      <div class="row">
        <div class="col">
          <div class="card animated zoomIn">

            <div class="card-header">
              <strong>Assign Roles to Users for team: {{updateTeamForm.get('TeamName').value}}
              </strong>
            </div>

            <div class="card-body">

              <div class="row animated zoomIn" *ngFor="let item of selectedUsers; let i = index; ">
                <div class="col userName">
                  {{item.UserName}} as {{item.UserRole}}
                </div>

                <div class="col">
                  <mat-select placeholder="UserRole" 
                              name="UserRole" 
                              formControlName="UsersForTeamWithRoles" 
                              [hidden]="updateTeamForm.get('ProjectID').value== null"
                              (selectionChange)="onUserRoleSelected(item.Oid)" ngDefaultControl>
                    <mat-option *ngFor="let childItem of userRoles" 
                                [value]="{ UserID: item.Oid, 
                                           UserName: item.UserName,
                                           UserRole: childItem.value }">
                      {{childItem.viewValue}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Select Team Leader -->
      <div class="row" style="margin-top: 30px;">
        <div class="md-form col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <div class="card animated zoomIn">

            <div class="card-header">
              Please select Team Leader
            </div>

            <div class="card-body">
              <mat-select placeholder="TeamLeader" name="TeamLeader" formControlName="TeamLeader" ngDefaultControl>
                <mat-option *ngFor="let item of finalUsersList" [value]="item.UserID">
                  {{item.UserName}}
                </mat-option>
              </mat-select>
            </div>

          </div>

        </div>

        <div class="md-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div [hidden]="updateTeamForm.get('TeamLeader').value== null">
            <div class="card animated zoomIn">
              <div class="card-header">
                Status of Team
              </div>
              <div class="card-body">
                <mat-select placeholder="Status" name="Status" formControlName="Status" ngDefaultControl>
                  <mat-option *ngFor="let item of statusList" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">
      <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!updateTeamForm.valid">
        Save
      </button>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>

    </mat-dialog-actions>

  </form>
  <!--Contact Form-->

</div>
