<div class="customDialog">

  <!--Contact Form-->
  <form [formGroup]="updateTeamForm" (ngSubmit)="updateTeam()" class="custom-form-field">

    <mat-dialog-title>
      <div class="customHeader h4-responsive">
        <i class="fa fa-group" aria-hidden="true" style="padding-right: 10px"></i>
        <strong>Edit Team</strong>
      </div>
    </mat-dialog-title>

    <!-- Team name -->
    <mat-dialog-content>

      <div class="row">
        <div class="custom-form-field col">
          <div class="card animated zoomIn">

            <div class="card-body">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <input matInput placeholder="Team" formControlName="TeamName">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card animated zoomIn">

            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Company" (selectionChange)="loadChangeProjects()" formControlName="CompanyID">
                  <mat-option *ngFor="let item of companyList" [value]="item.Oid">
                    {{item.CompanyName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Project Selection -->
        <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card animated zoomIn">

            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Project" formControlName="ProjectID" (selectionChange)="loadUsers()">
                  <mat-option *ngFor="let item of projectList" [value]="item.Oid">
                    {{item.ProjectName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- Users List multiple -->
      <div class="row">
        <div class="custom-form-field col">
          <div class="card animated zoomIn">

            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="Users" 
                            formControlName="Users" [hidden]="updateTeamForm.get('ProjectID').value== null" 
                           
                  [compareWith]="compareFnForSelectedUser" (selectionChange)="onUserSelected()" multiple>
                  <mat-option *ngFor="let item of userList" 
                  [value]="{UserID: item.UserID, UserName: item.UserName, UserRole: ''}">
                    {{item.UserName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- Assign User Role -->
      <!-- <div class="row">
        <div class="col">
          <div class="card animated zoomIn">

            <div class="card-header">
              <strong>Assign Roles to Users for team: {{updateTeamForm.get('TeamName').value}}
              </strong>
            </div>

            <div class="card-body">

              <div class="row animated zoomIn" *ngFor="let item of selectedUsers; let i = index; ">
                <div class="col userName">
                  {{item.UserName}} as {{item.UserRole}}
                </div>

                <div class="col">
                  <mat-form-field>
                    <mat-select placeholder="UserRole" formControlName="UsersForTeamWithRoles" [hidden]="updateTeamForm.get('ProjectID').value== null"
                      (selectionChange)="onUserRoleSelected(item.Oid)">
                      <mat-option *ngFor="let childItem of userRoles" [value]="{ UserID: item.Oid, 
                                           UserName: item.UserName,
                                           UserRole: childItem.value }">
                        {{childItem.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->


      <!-- Select Team Leader -->
      <div class="row" style="margin-top: 30px;">
        <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <div class="card animated zoomIn">
            <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="TeamLeader" formControlName="TeamLeader">
                  <mat-option *ngFor="let item of selectedUsers" [value]="item.UserID">
                    {{item.UserName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </div>

        <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div [hidden]="updateTeamForm.get('TeamLeader').value== null">
            <div class="card animated zoomIn">

              <div class="card-body">
                <mat-form-field>
                  <mat-select placeholder="Status" formControlName="Status">
                    <mat-option *ngFor="let item of statusList" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">
      <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!updateTeamForm.valid">
        Save
      </button>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>

    </mat-dialog-actions>

  </form>

</div>
