<div class="container-fluid mt-5 pt-5 animated zoomIn">
   <div class="row d-flex justify-content-center">
    <div class="col-lg-9 col-md-11 col-xs-12">
      <div class="jumbotron hoverable">

        <form  [formGroup]="createTicketForm" [style.fontSize.px]="12" (ngSubmit)="createTicket()" class="custom-form-field">

          <div class="customHeader z-depth-2">
            <h4 class="card-title">
              <i class="fa fa-ticket" aria-hidden="true"></i>
              <strong>Create Ticket</strong>
            </h4>
          </div>

          <div class="row" style="margin-top: 1rem;">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Company</mat-label>
                           <input matInput value="{{companyName}}" readonly>      
                </mat-form-field> 
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Project</mat-label>
                    <input matInput value="{{projectName}}" readonly>      
                </mat-form-field> 
            </div>
          </div>

          <div class="row">
            <div class="col">
                 
         
                    <mat-form-field  appearance="outline" style="width: 100%;">
                    <mat-label>TicketType</mat-label>
                       <mat-select  placeholder="TicketType" name="TicketType" 
                             formControlName="TicketType" ngDefaultControl>
                        <mat-option *ngFor="let item of ticketTypeList" [value]="item.Oid">
                           {{item.TypeName}}
                      </mat-option>
                       </mat-select>              
                    </mat-form-field>   
                  
            </div>
            <div class="col">
                <div [disabled]="createTicketForm.get('TicketType').value == null">                              
                      <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Select Priority</mat-label>
                      <mat-select placeholder="Priority" name="Priority" formControlName="Priority" ngDefaultControl>
                      <mat-option *ngFor="let item of priorityList" [value]="item.value">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                   </mat-form-field>                      
                 </div>
            </div>
          </div>
     
          <div class="row">
            <div class="col" [disabled]="createTicketForm.get('Priority').value == null">
                        <mat-form-field appearance="outline" style="width: 100%">
                          <mat-label>Subject</mat-label>
                          <input matInput formControlName="Subject"  autocomplete="off">
                        </mat-form-field>                     
            </div>
          </div>
          <div class="row">
            <div class="col" [disabled]="createTicketForm.get('Priority').value == null">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Description</mat-label>
                  <textarea matInput rows="1" formControlName="TicketDescription"></textarea>
                </mat-form-field>                     
            </div>
          </div>
          

          <div class="row">
            <div class="col" [disabled]="createTicketForm.get('TicketDescription').value == null">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Select Team</mat-label>
               
                    <mat-select placeholder="Team" name="TeamID" formControlName="TeamID" (selectionChange)="loadTeamMembers()" ngDefaultControl>
                      <mat-option *ngFor="let item of teamList" [value]="item.Oid">
                        {{item.TeamName}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>                            
            </div>

            <div class="col" [disabled]="createTicketForm.get('TeamID').value == null">

                  <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Assign ticket to</mat-label>
                    <mat-select placeholder="AssignUser" name="AssignTo" formControlName="AssignTo" ngDefaultControl>
                      <mat-option *ngFor="let item of assignToUserList" [value]="item.Oid">
                        {{item.UserName}}
                      </mat-option>
                    </mat-select>                
                  </mat-form-field>               
            </div>
          </div>
        

          
          <div style="text-align: right;">
          <button class="btn btn-sm indigo waves-light" type="submit" *ngIf="!ticketSaved" mdbWavesEffect [disabled]="!createTicketForm.valid"
            (click)="style.show()">
            Save
          </button>
      <button  type="button" class="btn btn-sm btn-danger waves-light" routerLink="../" mdbWavesEffect>  
            Close
          </button>
        </div>
        </form>
        <!--Contact Form-->


      </div>

    </div>

  </div>

  </div>

  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
     <div class="modal-dialog modal-notify modal-success" role="document" *ngIf="ticketSaved"> 
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Ticket Successfully created</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  routerLink="../" (click)="style.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            <div class="card-text">
              <strong>Ticket No: {{data.TicketNo}}</strong>
            </div>
          </div>
        </div>

        <div class="animated zoomIn">
          <div class="m-1 font-weight-bold" style="font-size: 0.5rem">Attachment (optional):
            <span style="display: inline" class="text-justify">If you would like to show us some files,
           please upload them here</span>
          </div>
          <div class="text-center">           
            <input class="btn btn-sm btn-outline-primary"  type="file" id="file" (change)="handleFileInput($event.target.files);" multiple><br>
           <!-- <strong class="font-weight-bold">OR</strong> -->
          </div>
          <div style="margin: 5px !important;">
          <!--<file-drop headertext="Drop files here" (onFileDrop)="dropped($event)">
          </file-drop>-->
         </div>   
        </div>

        <div class="text-center font-weight-bold" *ngIf="checkfilesuccess" 
             style="color: rgb(47, 126, 47); font-size: 0.5rem">
            <strong *ngFor="let file of filenamesuccess;">{{file.name}}&nbsp;Upload Successfully.<br></strong>
        </div>
        <div matTooltip="Error occured due to file with same name exists or File Size is >10mb" class="text-center font-weight-bold" *ngIf="checkfilefail" 
             style="color: rgb(184, 26, 26); font-size: 0.5rem"> 
              <strong  *ngFor="let file of filenamefail;"> {{file.name}}&nbsp;Not Uploadded !<br></strong>
        </div>

        <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-secondary" data-dismiss="modal"  routerLink="../" (click)="style.hide()" mdbWavesEffect>OK</a>
        </div>
      </div>
    </div>
  <div class="modal-dialog modal-notify modal-info" role="document" *ngIf="!ticketSaved"> 
       <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Ticket creation in progress</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
            <span aria-hidden="true" class="white-text">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <i class="fa fa-refresh fa-4x mb-3 animated rotateIn"></i>
            <div class="card-text">
              <strong>Processing...</strong>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer justify-content-center">
          <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="style.hide()" mdbWavesEffect>OK</a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- 
<div>
  <label>PDF src</label>
  <input mdbInputDirective type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div>
<div class="row">
  <div class="col">
    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
  </div>
</div> -->