<div class="container-fluid mt-5 pt-5 animated zoomIn fadeIn">

  <div class="row d-flex justify-content-center">

    <div class="col-lg-9 col-md-11 col-xs-12">

      <div class="jumbotron hoverable">

        <!--Contact Form-->
        <form [formGroup]="createCompanyForm" (ngSubmit)="createCompany()" class="custom-form-field">
          <div class="customHeader z-depth-1">
            <div class="h4-responsive card-title">
              <i class="fa fa-building-o" aria-hidden="true" style="padding-right: 10px"></i>
              <strong>Create Company</strong>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="custom-form-field col">
              <mat-form-field>
                <input matInput formControlName="CompanyName" placeholder="Company" autofocus="true" autocomplete="off">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col-md-2">
              <mat-form-field>
                <mat-select placeholder="IsClient" formControlName="IsClient">
                  <mat-option *ngFor="let d of isClientOptions" [value]="d.id">
                    {{d.data}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col">
              <mat-form-field>
                <input matInput id="Add1" placeholder="Address Line 1" formControlName="Add1">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col">
              <mat-form-field>
                <input matInput id="Add2" placeholder="Address Line 2" formControlName="Add2">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col">
              <mat-form-field>
                <input matInput id="Add3" placeholder="Address Line 3" formControlName="Add3">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col">
              <mat-form-field>
                <input matInput id="City" placeholder="City" formControlName="City">
              </mat-form-field>
            </div>

            <div class="custom-form-field col-md-6">
              <mat-form-field>
                <input matInput id="State" placeholder="State" formControlName="State">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col-md-6">
              <mat-form-field>
                <input matInput id="Country" placeholder="Country" formControlName="Country">
              </mat-form-field>
            </div>

            <div class="custom-form-field col-md-6">
              <mat-form-field>
                <input matInput type="number" id="Pincode" placeholder="Pincode" formControlName="Pincode">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="custom-form-field col-md-6">
              <mat-form-field>
                <input matInput id="LandLineNo" placeholder="Landline No" formControlName="LandLineNo">
              </mat-form-field>
            </div>
          </div>

          <div class="text-right">
            <button class="btn indigo waves-light" type="submit" [disabled]="!createCompanyForm.valid" mdbWavesEffect>Save
            </button>
            <button type="button" class="btn btn-danger waves-light" routerLink="../" mdbWavesEffect>
              Close
            </button>
          </div>

        </form>
      </div>

    </div>

  </div>

</div>
