<div class="container-fluid mt-5 pt-5 animated fadeIn zoomIn">

  <div class="row d-flex justify-content-center">

    <div class="col-lg-7 col-md-7 col-xs-12">

      <div class="jumbotron .z-depth-5 hoverable">

        <!--Contact Form-->
        <form [formGroup]="signupForm" (ngSubmit)="signupUser()" class="md-form">

          <h4 class="card-title">

            <strong>Signup</strong>

          </h4>

          <hr>
          <div class="row">
            <div class="md-form col-md-6">
              <label for="UserUd">UserID</label>
              <input type="text" id="userid" formControlName="UserID" class="form-control" mdbActive>
            </div>

            <div class="md-form col-md-6">
              <label for="username">UserName</label>
              <input type="text" id="UserName" formControlName="UserName" class="form-control" mdbActive>
            </div>
          </div>
          <div class="row">
            <div class="md-form col-md-6">
              <label for="Password">Password</label>
              <input type="password" id="Password" formControlName="Password" class="form-control" mdbActive>
            </div>
            <div class="md-form col-md-6">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword" class="form-control" mdbActive>
            </div>
          </div>
          <div class="row">
            <div class="md-form col-md-6">
              <label for="Email">Your email</label>
              <input type="email" id="Email" formControlName="Email" class="form-control" mdbActive>
            </div>

            <div class="md-form col-md-6">
              <label for="MobileNo">Mobile No</label>
              <input type="tel" id="MobileNo" formControlName="MobileNo" class="form-control" mdbActive>
            </div>
          </div>

          <div class="row">
            <div class="md-form col-md-6">
              <label for="Department">Department</label>
              <input type="text" id="Department" formControlName="Department" class="form-control" mdbActive>
            </div>

            <div class="md-form col-md-6">
              <label for="UserRole">User Role</label>
              <input type="text" id="UserRole" formControlName="UserRole" class="form-control" mdbActive>
            </div>
          </div>
          <div class="row">
            <div class="md-form col-md-6">
              <label for="Designation">Designation</label>
              <input type="text" id="Designation" formControlName="Designation" class="form-control" mdbActive>
            </div>

            <div class="md-form col-md-6">
              <label for="UserCompany">Company</label>
              <input type="text" id="UserCompany" formControlName="UserCompany" class="form-control" mdbActive>
            </div>
          </div>
          <div class="row">
            <div class="md-form col-md-6">
              <label for="LandLineNo">Landline</label>
              <input type="tel" id="LandLineNo" formControlName="LandLineNo" class="form-control" mdbActive>
            </div>
          </div>

          <div class="text-center">
            <button class="btn indigo waves-light" type="submit" [disabled]="!signupForm.valid" mdbWavesEffect>Register
              <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
          </div>

        </form>
        <!--Contact Form-->


      </div>

    </div>

  </div>

</div>
