<div class="customDialog">


  <!--Contact Form-->
  <form [formGroup]="editUserForm" (ngSubmit)="updateUser()" class="custom-form-field">

    <mat-dialog-title>
      <div class="customHeader h4">
        <i class="fa fa-user-circle" aria-hidden="true" style="padding-right: 10px;"></i>
        <strong>Update User</strong>
      </div>
    </mat-dialog-title>

    <mat-dialog-content>

          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-body">
                  <mat-form-field>
                    <input placeholder="User" formControlName="UserName" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-8">
                <div class="card">
                  <div class="card-body">
                    <mat-form-field>
                      <mat-select placeholder="Company" name="UserCompany" formControlName="UserCompany" >
                        <mat-option *ngFor="let cmp of companies" [value]="cmp.value">
                          {{cmp.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>        
          </div>


      <div class="row">
        <div class="custom-form-field col">
          <div class="card">

            <div class="card-body">
              <mat-form-field>
                <input placeholder="Mobile No" type="number" formControlName="MobileNo" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="custom-form-field col">
          <div class="card">
            <div class="card-body">
              <mat-form-field>
                <input type="email" placeholder="Email" formControlName="Email" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="custom-form-field col">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <input placeholder="Department" formControlName="Department" matInput>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field>
                    <input placeholder="Designation" formControlName="Designation" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
     
          <div class="custom-form-field col-6">
              <div class="card animated zoomIn">
                  <div class="card-body">
              <mat-form-field>
                <mat-select placeholder="User Role" name="UserRole" formControlName="UserRole" ngDefaultControl>
                  <mat-option *ngFor="let role of userRoles" [value]="role.value">
                    {{role.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
            </div> 
  
            <div class="custom-form-field col-6">
                <div class="card animated zoomIn">
                  <div class="card-body">
                    <mat-form-field>
                      <mat-select placeholder="Status" name="Status" formControlName="Status" >
                        <mat-option *ngFor="let item of statusList" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
            </div>
       </div>
  
 
        

    </mat-dialog-content>

    <mat-dialog-actions style="float: right;">

      <button class="btn btn-indigo waves-light" type="submit" [disabled]="!editUserForm.valid" mdbWavesEffect>
        Update
      </button>
      <button type="button" class="btn btn-danger waves-light" (click)="onNoClick()" mdbWavesEffect>
        Close
      </button>

    </mat-dialog-actions>
  </form>
</div>
