<div class="container-fluid mt-5 pt-5 animated fadeIn zoomIn">

  <div class="row d-flex justify-content-center">

    <div class="col-lg-9 col-md-11 col-xs-12">

      <div class="jumbotron hoverable">

        <!--Contact Form-->
        <form [formGroup]="createTeamForm" (ngSubmit)="createTeam()" class="custom-form-field">
          <div class="customHeader z-depth-2">
            <div class="card-title h4-responsive">
              <i class="fa fa-group" aria-hidden="true" style="padding-right: 10px"></i>
              <strong>Create Team</strong>
            </div>
          </div>

          <hr>

          <!-- Team name -->
          <div class="row">
            <div class="custom-form-field col">
              <div class="card animated zoomIn">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <mat-form-field>
                        <input matInput placeholder="Team" formControlName="TeamName">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">

            <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div [hidden]="createTeamForm.get('TeamName').value== null">
                <div class="card animated zoomIn">

                  <div class="card-body">
                    <mat-form-field>
                      <mat-select placeholder="Company" name="Company" formControlName="CompanyID" 
                                 (selectionChange)="loadProjects()" ngDefaultControl>
                        <mat-option *ngFor="let item of companyList" [value]="item.Oid">
                          {{item.CompanyName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Selection -->
            <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div [hidden]="createTeamForm.get('CompanyID').value== null">
                <div class="card animated zoomIn">

                  <div class="card-body">
                    <mat-form-field>
                      <mat-select placeholder="Project" name="Project" formControlName="ProjectID" (selectionChange)="loadUsers()" ngDefaultControl>
                        <mat-option *ngFor="let item of projectList" [value]="item.Oid">
                          {{item.ProjectName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Users Selection -->
          <div class="row">
              <div class="custom-form-field col">
                <div [hidden]="createTeamForm.get('ProjectID').value== null">
                  <div class="card animated zoomIn">
                    <div class="card-body">
                      <mat-form-field>
                        <mat-select placeholder="Users" name="Users" formControlName="Users" [hidden]="createTeamForm.get('ProjectID').value== null"
                          (selectionChange)="onUserSelected()" multiple>
                          <mat-option *ngFor="let item of userList" [value]="{ UserID: item.UserID,
                                                                               UserRole: item.UserRole, 
                                                                               UserName: item.UserName}">
                            {{item.UserName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  

          <!-- Users List multiple -->
          <!-- <div class="row">
            <div [hidden]="createTeamForm.get('ProjectID').value== null">
              <div class="custom-form-field col">
                <div class="card animated zoomIn">
                  <div class="card-body">
                    <mat-form-field>
                      <mat-select placeholder="Users" name="Users" formControlName="Users" [hidden]="createTeamForm.get('ProjectID').value== null"
                        (selectionChange)="onUserSelected()" multiple>
                        <mat-option *ngFor="let item of userList" [value]="{Oid:
                    item.Oid, UserName: item.UserName}">
                          {{item.UserName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          
          <!-- Assign User Role -->
          <!-- <div class="row">
            <div class="custom-form-field col">
              <div [hidden]="createTeamForm.get('Users').value== null">
                <div class="card animated zoomIn">
                  <div class="card-header">
                    <strong>Assign Roles to Users 
                    </strong>
                  </div>
                  <div class="card-body">
                    <div class="row animated zoomIn" *ngFor="let item of selectedUsers">
                      <div class="col userName">
                        {{item.UserName}}
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-select placeholder="UserRole" name="UserRole" 
                                     formControlName="UsersForTeamWithRoles" 
                                     [hidden]="createTeamForm.get('ProjectID').value== null"
                                     (selectionChange)="onUserRoleSelected()" ngDefaultControl>
                            <mat-option *ngFor="let childItem of userRoles" 
                                        [value]="{UserID: item.Oid, UserName: item.UserName,
                                                 UserRole: childItem.value}">
                              {{childItem.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->


          <!-- Select Team Leader -->
          <div class="row" style="margin-top: 30px;">
            <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">

              <div class="card animated zoomIn" [hidden]="createTeamForm.get('Users').value==
                  null">

                <div class="card-body">
                  <mat-form-field>
                    <mat-select placeholder="TeamLeader" name="TeamLeader" formControlName="TeamLeader" ngDefaultControl>
                      <mat-option *ngFor="let item of selectedUsers" [value]="item.UserID">
                        {{item.UserName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>

            </div>

            <!-- <div class="custom-form-field col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div [hidden]="createTeamForm.get('TeamLeader').value== null">
                <div class="card animated zoomIn">
                  <div class="card-body">
                    <mat-form-field>
                      <mat-select placeholder="Status" name="Status" formControlName="Status" ngDefaultControl>
                        <mat-option *ngFor="let item of statusList" [value]="item.value">
                          {{item.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div> -->

          </div>

          <div class="text-right">

            <button class="btn indigo waves-light" type="submit" mdbWavesEffect [disabled]="!createTeamForm.valid">
              Save
            </button>
            <button type="button" class="btn btn-danger waves-light" routerLink="../" mdbWavesEffect>
              Close
            </button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
