label {
  margin-left: 15px;
}

.customHeader {
  background: linear-gradient(to right, #F50057, #ff1744);
  margin: -110px 1rem 0px 1rem;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    margin-top: 30px;
  }
}

.danger {
  color: red;
}

.userName {
  margin-top: 15px !important;
}


.mat-form-field {
  width: 100%;
}