<mat-dialog-title>
  <header class="top-bar">
    <div class="left">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <h1 style="margin: 0px 0px 0px 10px">Ticket
        <strong>#{{ticketNo}}</strong>
      </h1>
    </div>
    <div class="right">
      <a type="button" class="close" aria-label="Close" (click)="onNoClick()">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
  </header>
</mat-dialog-title>

<mat-dialog-content>
<div class="scroll2" style="padding: 10px !important" scroll-glue>
  <ol class="discussion">
    <li *ngFor="let mes of message;" [ngClass]="{'self': mes.check == 'other', 'other': mes.check == 'self'}">
      <div class="avatar">
        <!--<img src="../../assets/images/google.png" />-->
        <div id="container" [ngClass]="{'s': mes.check == 'other', 'l': mes.check == 'self'}">
          <div id="name">
            {{mes.UserLetter}}
          </div>
        </div>
      </div>
      <div class="messages">
        <p>{{mes.MessageLog}}</p>
        <div class="messageFooter">
          {{mes.UserName}} •
          <time>{{ mes.OperationDate | timeAgo}}</time>
        </div>
      </div>
    </li>
  </ol>

</div>


<div *ngIf="ticketStatus!=='4'">
  <div *ngIf="ticketStatus!=='5'">
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="md-form">
      <div class="chip" style="display: flex;">
        <input style="order: 1; background: azure" mdbInputDirective formControlName="chatmessage" class="form-control" placeholder="Type your message">
        <button [disabled]="!chatForm.valid" class="btn-sm" type="submit">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>
</div>

</mat-dialog-content>






<!-- end chat-message -->
